html 
    head
        title Bienvenido 
    body
        h1 Bienvenido #(currentUser ? currentUser.username : 'Invitad@')
        
        if !currentUser
            ul 
                li 
                    a(href="/auth/login") Sign in (Entrar)
                li
                    a(href="/auth/register") Sign up (Resgistarse)