html 
    head 
        meta(charset="UTF-8")
        meta(name="")
        title  Alta en el sistema
    body 
        form(action="/auth/register", method="get")
            label(for="username") Nombre de usuario:
            input(type="text", name="username", id="username")br

            label(for="password") Constraseña:
            input(type="password", name="password", id="password")br

            label(for="email") Correo electrónico:
            input(type="text", name="email", id="email")br

            button(type="submit") Registrar